/*
  owner: Wesley Mouedine Assaby
  originally from: https://openbsdjumpstart.org/css/style.css
  edited: Egor Kuzmichev
*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
  margin:0;
  padding:0;
  background: black;
}

/* Sections */

section {
  background: linear-gradient(#ab2b28, #000000);
  font-family: 'Roboto', sans-serif;
  color: #cccccc;
  padding: 20px;
  height: 100vh;
}

#logo {
  text-align: center;
}

/* General elements */

h1, 
h2, 
h4, 
h5, 
strong {
  font-family: "Montserrat", sans-serif;
}

h1 {  
  font-size: 3em;
  line-height: 1.5em;
  border: solid;
  width: 10em;
  border-radius: 1em;
  margin: 0.5em auto;
  border-color: #fcd030;
  color: #fcd030;
  text-align: center;
}

h1 span {
  color: #f3715a;
}

h2 {
  font-size: 2.8em;
  margin-bottom: 1em;
  color: #eee8d5;
  text-transform: uppercase;
  letter-spacing: .1em;
}

h3 {
  color: #a7a2a9;
  font-size: 2em;
  margin-bottom: 1em;
}

h4 {
  font-size: 5.5em;
  text-transform: uppercase;
  color: #ffbb1f; 
  margin-bottom: .5em;
}

h5 {
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

p {
  font-size: 2em;
  line-height: 1.5em;
}

a {
  color: #ffc628;
  text-decoration: none;
}

ul {
  text-align: left;
  list-style-type: circle;
  font-size: 2em;
  line-height: 1.5em;
}

li span, tr td span, tr td code, p strong {
  color: #ffbb1f;
}

/* Tables */

table {
  width: 100%;
}

table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
  font-size: 2em;
  line-height: 1.5em;
}

table tbody tr:first-child th[colspan="2"] {
  text-align: center;
  font-style: italic;
  letter-spacing: 5px;

  padding-bottom: 5px;
  border-bottom: 1px solid;
  font-size: 1.7em;
  line-height: 1.5em;
}

table tbody tr:last-child td {
  border-bottom: none;
}

/* Special blocks */

small {
  font-size: 1.5em;
}

blockquote {
  font-size: 1.5em;
  color: #eee8d5;
  background-color: #333333;
  margin-top: 1em;
  text-align: left;
  line-height: 1.2em;
  padding: 15px 30px;
  line-height: 1.5em;
  width: 94%;
  margin-left: 0;
}

blockquote a {
  color: #ffbb1f;
}

blockquote code {
  font-size: 1.4em;
  font-weight: bold;
  background-color: #161b1d;
  color: #b8b08d;
  padding: 5px 15px;
}

code, span {
  font-family: monospace;
  white-space: pre;
}

code {
  padding-left: 2em;
  margin: 20px auto;
  text-align: left;
  font-size: 1.5em;
  line-height: 1.25em;
  white-space: pre-line;
  display: block;
  background: #161b1d;
  color: #268bd2;
}

code{
  padding-bottom: 1em;
}

code.inline {
  padding: 5px;
  display: inline;
}
/* Optional classes */

.hljs-comment {
  color: #7ea2b4;
}

span .hljs-comment {
  color: #b8b08d;
}

.controls {
  color: #eee8d5;
}

.text-justify {
  text-align: justify;
}

span {
  background-color:  #161B1D;
  color:  #B8B08D;
  padding:  4px 8px;
}
